.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
}

.navbar__center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-input {
  width: 150px;
}

.login-btn {
  background-color: #46a358;
  border-color: #46a358;
}

/* Bu qism elementlar bir qatorda turishi uchun */
.navbar__left, .navbar__center, .navbar__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bu qism elementlar to‘g‘ri o‘rinlashishini ta’minlaydi */
.navbar__left {
  justify-content: flex-start;
}

.navbar__center {
  justify-content: center;
}

.navbar__right {
  justify-content: flex-end;
}
